:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-color-primary: 216 167 62;
  --oui-color-primary-light: 234 200 124;
  --oui-color-primary-darken: 184 134 42;
  --oui-color-primary-contrast: 11 20 38;
  --oui-color-link: 234 200 124;
  --oui-color-link-light: 245 222 170;
  --oui-color-secondary: 234 242 245;
  --oui-color-tertiary: 182 196 214;
  --oui-color-quaternary: 182 196 214;
  --oui-color-danger: 255 90 95;
  --oui-color-danger-light: 255 150 152;
  --oui-color-danger-darken: 224 60 68;
  --oui-color-danger-contrast: 255 255 255;
  --oui-color-success: 31 216 182;
  --oui-color-success-light: 110 234 211;
  --oui-color-success-darken: 0 160 134;
  --oui-color-success-contrast: 11 20 38;
  --oui-color-warning: 255 196 77;
  --oui-color-warning-light: 255 221 150;
  --oui-color-warning-darken: 230 150 20;
  --oui-color-warning-contrast: 11 20 38;
  --oui-color-fill: 24 36 62;
  --oui-color-fill-active: 30 44 72;
  --oui-color-base-1: 86 104 138;
  --oui-color-base-2: 70 88 122;
  --oui-color-base-3: 56 73 106;
  --oui-color-base-4: 45 61 92;
  --oui-color-base-5: 38 53 83;
  --oui-color-base-6: 30 44 72;
  --oui-color-base-7: 24 36 62;
  --oui-color-base-8: 18 29 53;
  --oui-color-base-9: 14 23 43;
  --oui-color-base-10: 9 16 31;
  --oui-color-base-foreground: 234 242 245;
  --oui-color-line: 234 242 245;
  --oui-color-base-static: 234 242 245;
  --oui-color-base-static-contrast: 11 20 38;
  --oui-color-trading-loss: 255 90 95;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 31 216 182;
  --oui-color-trading-profit-contrast: 11 20 38;
  --oui-gradient-primary-start: 150 105 20;
  --oui-gradient-primary-end: 234 200 124;
  --oui-gradient-secondary-start: 26 42 72;
  --oui-gradient-secondary-end: 216 167 62;
  --oui-gradient-success-start: 0 90 76;
  --oui-gradient-success-end: 31 216 182;
  --oui-gradient-danger-start: 140 22 40;
  --oui-gradient-danger-end: 255 90 95;
  --oui-gradient-brand-start: 245 222 170;
  --oui-gradient-brand-end: 216 167 62;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;
  --oui-gradient-warning-start: 152 90 8;
  --oui-gradient-warning-end: 255 196 77;
  --oui-gradient-neutral-start: 14 23 43;
  --oui-gradient-neutral-end: 26 42 72;
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}